<h1>Current Projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Length</th>
    <th>Type</th>
    <th>Hometown</th>
    <th>Start Date</th>
    <th>Owner</th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.project_name %></td>
    <td><%= project.project_length %></td>
    <td><%= project.project_type %></td>
    <td><%= project.project_hometown %></td>
    <td><%= project.project_start %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
