<p id="notice"><%= notice %></p>

<p>
  <b>Project name:</b>
  <%= @project.project_name %>
</p>

<p>
  <b>Project Owner</b>
  <%= @project.user.name %>
</p>

<p>
  <b>Project length:</b>
  <%= @project.project_length %>
</p>

<p>
  <b>Project type:</b>
  <%= @project.project_type %>
</p>

<p>
  <b>Project hometown:</b>
  <%= @project.project_hometown %>
</p>

<p>
  <b>Project info:</b>
  <%= @project.project_info %>
</p>

<p>
  <b>Project start:</b>
  <%= @project.project_start %>
</p>

<p>
  <b>Project schedinfo:</b>
  <%= @project.project_schedinfo %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
